.shopee-top{
    background: linear-gradient(-180deg,#f53d2d,#f63);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 0 300px 0 300px;
    /*font-size: 0.875rem;*/
    font-size: 11px;
}

.shopee-top--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
}

.navbar-wrapper {
    /*height: 2.125rem;*/
    z-index: 400;
    background: transparent;
    position: relative;
}

.header-with-search {
    display: flex;
    height: 5.315rem;
    justify-content: space-between;
    padding: 1rem 0 0.625rem;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

.container-wrapper {
    min-width: 1200px;
}

.header-with-search-wrapper {
    /*background: #ffffff;*/
    /*box-shadow: 0 0.0625rem 0.15625rem rgb(0 0 0 / 5%);*/
    background: transparent;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-between;
}
