.header-with-search_search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 840px;
    position: relative;
}

.shopee-searchbar {
    --focus-indicator-spacing: 3px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.1875rem;
    border-radius: 2px;
    background: #ffffff;
}

.header-with-search_search-section > .shopee-searchbar {
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
}

.shopee-searchbar__main {
    display: flex;
    flex: 1;
}

.shopee-searchbar-input {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    padding: 0 0.625rem;
    position: relative;
}

.header-with-search-wrapper .shoppee-searchbar-input {
    background-color: #ffffff;
    border-color: #ffffff;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

.shopee-searchbar-input__input {
    display: flex;
    flex: 1;
    align-items: center;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.shopee-searchbar__search-button {
    position: relative;
    overflow: visible;
    outline: 0;
}

.btn {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}

.btn--inline {
    display: inline-flex;
}

.btn--s {
    height: 34px;
    padding: 0 15px;
    min-width: 60px;
    max-width: 190px;
}

.btn-solid-primary {
    color: #ffffff;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
}

.header-with-search-wrapper .shopee-searchbar > .btn-solid-primary {
    position: relative;
    overflow: visible;
    outline: 0;
    background: #fb5533;
}

.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

svg:not(:root) {
    overflow: hidden;
}

.shopee-searchbar>.btn svg {
    margin:  0 auto;
}





